<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="bot_key" value="748370057:AAHBHdpIhYEdovjIqfrmtSRDE8noP-JQqgU" />
      <add key="app_id" value="2d4f6871" />
    <add key="app_key" value="15059fe040beb315290cf5741ccc7739" />
    </appSettings>
</configuration>